.footer-container {
  background-color: #0d9494;
  padding: 20px 0px;
  text-align: center;
  border-top: 1px solid #dee2e6;
  color: #fff;
  width: 100%;
  height: auto;
}

.footer-container p {
  margin: 0;
  color: #fff;
  font-size: 20px;
}

.footer-container h5 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
}

.footer-container .form-control {
  border-radius: 0;
  border: none;
}

.footer-container .btn-primary {
  background-color: #333;
  border: none;
  border-radius: 0;
}

.footer-container .btn-primary:hover {
  background-color: #333;
}

.footer-container .fa-icon {
  margin: 0 10px;
  color: #fff;
  transition: color 0.3s;
  font-size: 1.5em; /* Adjust the size of the icons */
}

.footer-container .fa-icon:hover {
  color: #007bff;
}

.footer-container .list-unstyled {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.footer-container .list-unstyled li {
  margin: 0 10px;
}

/* Additional styling for social icons */
.footer-container .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-container .social-icons a {
  margin: 0 15px;
  color: #fff;
  transition: transform 0.3s;
}

.footer-container .social-icons a:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
  color: #007bff; /* Change color on hover */
}
