/* Header Styles */
.home-header {
  background-color: #fff;
  color: #fff;
  padding: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-menu {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.home-main {
  background-color: #fff;
  padding: 20px;
  flex-grow: 1;
}

.home-footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: auto;
}

/* Menu Styles */
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

a:hover {
  background-color: #555;
}
