/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.logo {
  height: 100px; /* Adjust as needed */
  width: 100px; /* Adjust as needed */
  float: left; /* This will align the logo to the left */
}


.header h1 {
  color: white;
  margin: 0;
  padding: 20px;
  align-items: left;
}

