/* Header.css */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e1e4e8;
  width: 100%;
}

.nav-item {
  position: relative;
  margin: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: center; /* Center items in the column */
  }

  .nav-list {
      flex-direction: column;
      align-items: center; /* Center items in the column */
  }

  .nav-item {
      margin: 5px 0;
  }

  .nav-item a {
      text-decoration: none;
      color: #000;
  }

  .hydrovisio-text {
      margin-left: 0;
  }

  .social-links {
    margin-top: 10px;
  }
}

.logo {
  height: 40px;
  margin-right: 1px;
  border-radius: 50%;
  padding: 5px;
}

.hydrovisio-text {
  color: #0d9494;
  font-weight: bold;
  font-size: 34px;
  margin-left: 10px;
  text-transform: uppercase;
  line-height: 1.5;
  border-radius: 50%;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-item a {
  text-decoration: none;
  color: #000;
}

.login-link {
  color: #cc8899;
  font-weight: bold;
  border: 1px solid #cc8899;
  padding: 5px 10px;
  border-radius: 5px;
}

.signup-link {
  color: #cc8899;
  font-weight: bold;
  border: 1px solid #cc8899;
  padding: 5px 10px;
  border-radius: 5px;
}