.hero-section {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: 2.5em;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-description {
  font-size: 1.2em;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: blue;
  text-decoration: none;
}
