/* MainContent.css */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Add to MainContent.css */
.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #00415a;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  background-color: #ddd;
  margin-bottom: 5px;
  position: relative;
}

.sidebar ul li:hover > ul {
  display: block;
}

.sidebar ul li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 200px;
  background-color: #ccc;
}

.sidebar ul li ul li {
  display: block;
}
.main-content h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
}
.app-names {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.app-names div {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #00415a;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.button-link {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.2em;
  border: 2px solid #00415a;
  border-radius: 8px;
  background-color: #fff;
  color: #0099ff;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
