.main-content {
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.intro-section {
  background-color: #f0f8ff;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #ad4d8c;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.intro-section h2 {
  font-size: 2rem;
  color: #343a40;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: solid underline #ad4d8c;
  font-weight: bold;
}

.intro-section p {
  font-size: 1.25rem;
  color: #6c757d;
  line-height: 1.6;
}

.topics-section {
  background-color: #000;
  padding: 20px;
  margin-bottom: 20px;
}

.topics-section h2 {
  color: #ad4d8c;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-decoration: solid underline #ad4d8c;
}

.topics-grid {
  background-color: var(--bs-secondary-bg);
  color: var(--bs-secondary-color);
}

.topics-grid h3 {
  color: #0d9494;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-decoration: solid underline #ad4d8c;
}

.community-section {
  background-color: #fff0f5;
  padding: 20px;
  margin-bottom: 20px;
}

h1,
h2 {
  color: #333;
}

p {
  color: #555;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
