
:root {
  --custom-dark-bg: #343a40; 
}

.navbar {
  background-color: var(--bs-info-bg-subtle) !important;
}

.nav {
  background-color: #0d9494;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #0d9494 0%, #1abc9c 100%);
  display: inline-block;
  transition: all 0.3s ease;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.nav-item {
  margin: 0 10px;
  padding: 0 10px;
  text-transform: uppercase;
  
}

.custom-nav-link {
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.custom-nav-link:hover {
  color: #ccc;
}

.dropdown-menu {
  background-color: #343a40; /* Dark background for dropdown */
}

.dropdown-item {
  color: #ffffff; /* White text for dropdown items */
}

.dropdown-item:hover {
  background-color: #495057; /* Darker gray on hover */
}

/* Optional: Add some padding to the Sign In/Sign Up links */
.ms-3 .nav-link {
  padding: 8px 16px;
}