/* MainContent.css */
p {
  color: #555;
  font-size: 1.2em;
}

.app-names {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.app-names div {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #0099ff;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.button-link {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.2em;
  border: 2px solid #0099ff;
  border-radius: 8px;
  background-color: #fff;
  color: #0099ff;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
