
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #f5f5f5;
      text-align: center;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    header {
      background-color: #0077cc;
      color: #fff;
      padding: 20px;
      text-align: right;
    }

    h1 {
      color: #333;
      font-size: 2.5em;
      margin-bottom: 20px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .post-form, .post-list {
      width: 60%;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label, textarea {
      display: block;
      margin-bottom: 10px;
      font-size: 1.2em;
      color: #333;
    }

    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button {
      background-color: #0099ff;
      color: #fff;
      padding: 10px 20px;
      font-size: 1.2em;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    .post {
      border-bottom: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .post-text {
      flex-grow: 1;
      margin-right: 10px;
      font-size: 1.1em;
      color: #333;
    }

    .edit-post-btn, .delete-post-btn {
      padding: 8px;
      margin-right: 5px;
      cursor: pointer;
      background-color: #0099ff;
      color: #fff;
      border: none;
      border-radius: 4px;
    }

    .pagination {
      margin-top: 20px;
    }

    .pagination button {
      background-color: #0099ff;
      color: #fff;
      border: none;
      padding: 10px;
      margin: 0 5px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    .pagination button:hover {
      background-color: #0077cc;
    }
  