/* App.css */
.container {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-left: 0px; /* Adjust for sidebar width */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
  height: 50%;
}

.part {
  padding: 20px;
  overflow-y: auto; /* Ensure content is scrollable if it overflows */
}

.part1 {
  background-color: #f8f9fa; /* Light background */
}

.part2 {
  background-color: #e9ecef; /* Slightly darker background */
}

.part3 {
  background-color: #dee2e6; /* Even darker background */
}