/* App.css */
.container {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-left: 0px; 
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 20%;
}

.part {
  padding: 20px;
  overflow-y: auto; 
}

.part1 {
  background-color: #000;
}

.part2 {
  background-color: #e9ecef;
}

.part3 {
  background-color: #000;
}