<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    {% include /public/header.html %} <!-- Including the header -->
    <div class="container">
        {{ content }} <!-- Page-specific content will go here -->
    </div>
    {% include /public/footer.html %} <!-- Including the footer -->
</body>
</html>